.form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wrap {
  position: relative;
  padding-top: 24px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
}

.input {
  width: 100%;
  font-size: 24px;
  padding: 5px 10px;
}

.input[aria-invalid="true"] {
  outline: 2px solid tomato;
}

.error {
  max-width: 280px;
  margin: 0;
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 16px;
  color: tomato;
}

.error--password {
  max-width: 246px;
  top: -12px;
}

.wrapCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.checkbox {
  margin: 0;
  width: 16px;
  height: 16px;
}

.labelCheckbox {
  font-size: 18px;
  line-height: 1;
}

.submit {
  align-self: flex-end;
  width: 160px;
  height: 34px;
  font-style: 20px;
  cursor: pointer;
}

.errorSubmit {
  align-self: flex-end;
  margin: 0;
  font-size: 16px;
  color: tomato;
}

.pending {
  align-self: flex-end;
  margin: 0;
  height: 34px;
}

